.conteinerInicio{
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-between;
    height: 80vh;
    background-image: url('../../assets/pessoaComLivros.png');
    //background-size: contain;
    //background-size: cover;
    background-size: 100% 80vh ;
    background-repeat: no-repeat;
    align-items: center;
   
    h1{
        border: none;
        color: aliceblue;
        font-size: 32px;
        width: 30%;
        justify-content: center;
        padding-left: 40px ;
        font-style: Roboto;
    }   
}

.cardsMain{
    display: colum;
    //justify-content: space-between;
    //align-items: center;
    //width: 20%;
    
    h1{
        display: flex;
        align-items: center;
        //justify-content:flex-start;
        font-size: 40px;
        width: 100%;
        color: #005695;
        height: 30vh;
        //border:solid tomato;
        padding-left: 2%;
    }
}

.sectionCards{
    display: flex;
    justify-content: space-around ;
}


.cardInformativo{
    display: flex;
    flex-direction: column;
    //padding-top: 15px;
    align-items: center;
    background-color: #0157944D;
    width: 20%;
    height: 50vh;
    border-radius: 5%;
    justify-content: space-evenly;
    //justify-content: space-around ; 

    p{
        //width: 90%;
        //justify-content: space-evenly;
        align-items: center;
        font-size: 22px;
        text-align: center;
    }
   
}