.conteinerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    height: 15vh;
    
}


.imagelogoLivro{
    display: flex;
    width: 20%;
    height: 50px;
    align-items: center;
    
    h2 {
        color: #FFF;
        //font-size: 20px;
        
    }
    
}

.navHeader{
    width: 30%;

    ul{
        display: flex;
        color: #FFF;
        justify-content: space-around;
        
    }
}

.link{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.areaDeProcura{
    display: flex;
    border: solid #fff;
    width: 20%;
    border-radius: 20px;
    margin-right: 1%;
    align-items: center;
    justify-content: space-evenly;
    height: 6vh;
   

    input {
        background-color: transparent;
        border: none;
        width:80%;
        height: 6vh;
        
    
        &::placeholder {
            display: flex;
            color: #fff;
            font-size: 15px;
            justify-content: space-around;
        }
      }
    button{
        background: transparent;
        border: none;
        height: 4vh;
        
    }  
}

